<component name="libraryTable">
  <library name="spring-cloud-sleuth-core-2.2.1.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/D:/.m2/repository/org/springframework/cloud/spring-cloud-sleuth-core/2.2.1.RELEASE/spring-cloud-sleuth-core-2.2.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>